<div class="mt-4">
  <h5>ALL-TIME TOURNAMENT EARNINGS</h5>
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Player</th>
        <th scope="col">Winnings</th>
        <th scope="col">Native Of</th>
      </tr>
    </thead>
    <tbody>
      <tr title="Click to edit this player">
        <th scope="row">1.</th>
        <td>Justin Bonomo</td>
        <td class="font-weight-bold">$43.2M</td>
        <td>
          <i class="flag-usa"></i>USA</td>
      </tr>
      <tr title="Click to edit this player">
        <th scope="row">2.</th>
        <td>Daniel Negreanu</td>
        <td class="font-weight-bold">$38.6M</td>
        <td>
          <i class="flag-can"></i>CAN</td>
      </tr>
      <tr title="Click to edit this player">
        <th scope="row">3.</th>
        <td>Erik Seidel</td>
        <td class="font-weight-bold">$34.6M</td>
        <td>
          <i class="flag-usa"></i>USA</td>
      </tr>
      <tr title="Click to edit this player">
        <th scope="row">4.</th>
        <td>Fedor Holz</td>
        <td class="font-weight-bold">$33.0M</td>
        <td>
          <i class="flag-deu"></i>DEU</td>
      </tr>
      <tr title="Click to edit this player">
        <th scope="row">5.</th>
        <td>Daniel Colman</td>
        <td class="font-weight-bold">$28.7M</td>
        <td>
          <i class="flag-usa"></i>USA</td>
      </tr>
      <tr title="Click to edit this player">
        <th scope="row">6.</th>
        <td>Antonio Esfandiari</td>
        <td class="font-weight-bold">$27.2M</td>
        <td>
          <i class="flag-usa"></i>USA</td>
      </tr>
      <tr title="Click to edit this player">
        <th scope="row">7.</th>
        <td>Bryn Kenney</td>
        <td class="font-weight-bold">$26.2M</td>
        <td>
          <i class="flag-usa"></i>USA</td>
      </tr>
      <tr title="Click to edit this player">
        <th scope="row">8.</th>
        <td>Phil Ivey</td>
        <td class="font-weight-bold">$25.9M</td>
        <td>
          <i class="flag-usa"></i>USA</td>
      </tr>
      <tr title="Click to edit this player">
        <th scope="row">9.</th>
        <td>Dan Smith</td>
        <td class="font-weight-bold">$25.8M</td>
        <td>
          <i class="flag-usa"></i>USA</td>
      </tr>
      <tr title="Click to edit this player">
        <th scope="row">10.</th>
        <td>Scott Seiver</td>
        <td class="font-weight-bold">$24.1M</td>
        <td>
          <i class="flag-usa"></i>USA</td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn float-right">Add Player</button>
</div>