@import "../../../styles/includes/variables";

$mean: #d3e8f1;
$median: #e8dcea;

.edit-column {

    .fas {
        // increase click area of icons
        padding-left: 5px;
        padding-right: 5px;
    }

    .fas:hover {
        cursor: pointer;
        color: #9da7b1;
    }
}

.mean {
    background-color: $mean;
}

.median {
    background-color: $median;
}

@mixin color-box {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.color-legend .mean, 
.color-legend .median {
    @include color-box;
}